@page "{searchString?}"
@model Drinks.Pages.Cocktails.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<style>
    body{
        background-color: ivory; 
        font-family: initial;
    }
</style>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="CocktailCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Name or Ingredients (Comma Separated): <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Glass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Garnish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cocktail[0].Preparation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cocktail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Glass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garnish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparation)
            </td>
            <td>
               <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>  
               <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
